.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
  cursor: zoom-in;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.preview {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.preview img {
  max-width: 90%;
  max-height: 90%;
}
